.
.contactform{
    width: 60%;
}
.contactform input[type="text"]{
    width: calc(100% - 50px);
    margin: 6px 10px;
    padding: 11px 15px;
    font-size: 14px;
    letter-spacing: 0.4px;
    border: 1px solid #cecaca;
    outline:none;
}
.contactform textarea{
    width: calc(100% - 50px);
    margin: 6px 10px;
    padding: 11px 15px;
    font-size: 14px;
    letter-spacing: 0.4px;
    border: 1px solid #cecaca;
    outline:none;
    height: 200px;
}
.contactform input[type="submit"]{
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.8px;
    margin: 10px;
}
.contactform input[type="text"]:hover
,.contactform textarea:hover
,.contactform input[type="text"]:focus
,.contactform textarea:focus{
    border: 1px solid #000;
    outline: none;
}